@charset "UTF-8";
* {
  /*   border: solid 1px black; */
}

body {
  padding: 50px;
  display: flex;
  justify-content: center;
  color: #8A736C;
  font-size: 15px;
  letter-spacing: 1px;
  font-family: "微軟正黑體",sans-serif;
  background: radial-gradient(ellipse 30% 20% at 50% 100%, rgba(138, 115, 108, 0.5), #F7F2E9);
}

.circle {
  display: flex;
  margin: 20px;
  margin-top: 25px;
  width: 100px;
  height: 30px;
  border-radius: 100px;
  line-height: 28px;
  color: #fff;
  padding: 5px;
  letter-spacing: 10px;
}

.BG {
  display: flex;
  max-width: 950px;
  border: solid 8px #AA5758;
  border-radius: 10px;
  padding: 50px;
  position: relative;
  background: radial-gradient(ellipse 30% 20% at 50% 100%, rgba(138, 115, 108, 0.3), #F7F2E9);
}

.page {
  margin-left: -80px;
}

.resume {
  line-height: 28px;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}

.top, P2top {
  margin: 0px auto;
}

.top H4 {
  line-height: 5px;
}

.top H5 {
  line-height: 0px;
}

H1, H4, H5 {
  text-align: center;
}

H2 {
  margin-left: 50px;
}

.title {
  width: 400px;
  position: absolute;
  top: -30%;
  left: 20%;
  text-align: center;
  margin-top: 50px;
}

.text {
  position: relative;
  top: 0px;
  margin-top: 30px;
}

.photo {
  background-image: url(https://i.postimg.cc/GmPM8kmj/photo-1.png);
  background-size: contain;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0px auto;
  border: solid 1px #AA5758;
  margin-top: 10px;
}

hr {
  border: none;
  border-bottom: solid 5px #8A736C;
  max-width: 900px;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
}

.left {
  flex: 2;
}

.right {
  flex: 2;
}

.left {
  padding-right: 50px;
  border-right: solid 3px #AA5758;
}

.left, .right {
  padding: 15px;
}

.listExperience::before, .listLicense::before {
  content: ' ';
  height: 100%;
  width: 5px;
  background-color: #8A736C;
  position: absolute;
  top: 0;
  left: 2.4em;
}

.listExperience, .listLicense {
  padding: 1em 0 0 2em;
  margin: 20px;
  list-style: none;
  position: relative;
}

.listLicense li {
  margin-left: 35px;
}

.year {
  margin-left: 25px;
  line-height: 50px;
}

.year li {
  display: inline-block;
  margin: 1em 0;
  vertical-align: top;
}

.year li ul {
  margin: -20px;
  font-size: 14px;
}

.bullet {
  align-items: center;
  text-align: center;
  display: inline-block;
  position: relative;
  left: -25px;
  margin-right: 0px;
  width: 1rem;
  height: 1rem;
  box-sizing: border-box;
  border-radius: 50%;
  background: #8A736C;
}

.listSkill, .listissuu {
  display: flex;
  flex-wrap: wrap;
  line-height: 50px;
}

.listSkill li, .listissuu li {
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 15px;
  max-width: 50%;
  display: inline-block;
  margin: 5px;
  margin-bottom: 10px;
  justify-content: space-between;
}

.icon, .issuu, .btn {
  display: flex;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.listSkill > li:nth-child(1) div::before, .listSkill > li:nth-child(3) div::before, .listSkill > li:nth-child(5) div::before, .listissuu > li:nth-child(2) div::before {
  content: "";
  position: absolute;
  left: -5%;
  top: -5%;
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 5px #AA5758;
  border-top-color: transparent;
  overflow: hidden;
  padding: 5px;
  margin: -5px;
  animation: rotate 5s linear infinite;
}

.listSkill > li:nth-child(2) div::before, .listSkill > li:nth-child(4) div::before, .listissuu > li:nth-child(1) div::before, .listissuu > li:nth-child(3) div::before {
  content: "";
  position: absolute;
  left: -5%;
  top: -5%;
  display: table;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 5px #D3C0AC;
  border-left-color: transparent;
  padding: 5px;
  margin: -5px;
  animation: rotate 5s linear infinite;
}

@-webkit-keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.listSkill > li:nth-child(1) div {
  background-image: url(https://i.postimg.cc/wBpDNsy7/photoshop.png);
  background-size: contain;
}

.listSkill > li:nth-child(2) div {
  background-image: url(https://i.postimg.cc/YCF9MskG/illustrator.png);
  background-size: contain;
}

.listSkill > li:nth-child(3) div {
  background-image: url(https://i.postimg.cc/T2Sf1Jtr/premier.png);
  background-size: contain;
}

.listSkill > li:nth-child(4) div {
  background-image: url(https://i.postimg.cc/BZwQD0nP/after-effects.png);
  background-size: contain;
}

.listSkill > li:nth-child(5) div {
  background-image: url(https://i.postimg.cc/kgPCFX3G/dreamweaver.png);
  background-size: contain;
}

.listissuu > li:nth-child(1) div {
  background-image: url(https://i.postimg.cc/mrRLY31t/ART-01-01.png);
  background-size: contain;
}

.listissuu > li:nth-child(2) div {
  background-image: url(https://i.postimg.cc/28rNXj8K/vedio-01.png);
  background-size: contain;
}

.listissuu > li:nth-child(3) div {
  background-image: url(https://i.postimg.cc/63nFYFsK/web-01.png);
  background-size: contain;
}

#P1 {
  z-index: 0;
}

#P2 {
  display: none;
  z-index: 2;
}

.resrch {
  display: flex;
  position: relative;
  margin: 80px;
  max-width: 800px;
}