@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  font-family: Georgia, "游明朝", "Yu Mincho", "游明朝体", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho ProN", "MS P明朝", "MS PMincho", HGS明朝E, "MS Mincho", serif;
}

body {
  overflow: hidden;
}

.nav {
  position: fixed;
  top: 50%;
  right: 0px;
  cursor: pointer;
}

.nav li {
  width: 20px;
  height: 20px;
  margin: 20px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5) inset, -1px -1px 1px rgba(0, 0, 0, 0.5) inset;
  list-style-type: none;
}

.menuP1 {
  display: flex;
  background-image: url(https://i.ibb.co/s1dsk01/2020-1-7-16-200716.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.menuP1 h1 {
  writing-mode: vertical-rl;
  font-weight: 100;
  letter-spacing: 30px;
  font-size: 80px;
  z-index: 2;
  color: #fff;
  position: absolute;
  top: 35%;
  left: 45%;
}

.menuleft {
  position: absolute;
  width: 50vw;
  height: 100vh;
  background-color: #fff;
  opacity: 0.3;
  z-index: 1;
}

.articleP2 {
  min-width: 30vw;
  height: 50vh;
  background-color: #000;
  position: absolute;
  top: 130%;
  left: 35%;
}

.menuP2 {
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  background-size: cover;
  height: 100vh;
}

.menuP3 {
  background-color: #fff;
  background-size: cover;
  height: 100vh;
}

.menuP4 {
  background-color: #000000;
  background-size: cover;
  height: 100vh;
}